.App {
  background: url('/nmbus-back.png');
  background-size: cover;
  max-width: 414px;
  max-height: 736px;
}

.App main {
  position: relative;
  width: 414px;
  height: 736px;
  background: rgba(0, 0, 0, .4);
  overflow: hidden;
}
