@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');


.logo-container {
  padding: 0;
  margin: 0;
  height: 100px;
  width: 255px;
}

.logo-box {
  transition: .5s;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: 1;
  display: flex;
  height: 100px;
  width: 114px;
}

.logo-inactive {
  opacity: 0;
  margin-left: default;
  margin-right: default;
  left: 0;
  right: 100%;
}

.logo {
  width: 50px;
}

.brand-title {
  margin-top: 2rem;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;

}

.search-icon {
  position: absolute;
  width: 30px;
  left: 15px;
  top: 15px;
  z-index: 1
}

.search-field {
  position: absolute;
  height: 30px;
  border-radius: 25px;
  width: 300px;
  font-size: 22px;
  border: none;
  top: 14px;
  text-indent: 10px;
  left: 56px;
  transition: .5s;
  z-index: 1;
}

.search-icon:hover {
  cursor: pointer;
}

.inactive-search {
  left: 200%;
}

.brand-title {
  margin-top: 28px;
  margin-left: .5rem;
5font-family: 'Didact Gothic', sans-serif;

}

datalist {
  position: absolute;
  top: 50px;
  left: 70px;
  display: block;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  width: 200px;
}

.city-none {
  display: none;
}